Repository softwareengineering-2024-2/softwareengineering-repo, pull requests merged in 2024-12, with the labels that each got.

#152 feat issue #148: 코드 리팩토링
  add_test_data.py
  static/calender.css
  static/js/backlog.js
  static/js/calender.js
  static/retrospect.css
  templates/calendar.html
  templates/guide.html
  views/productbacklog_view.py
  views/retrospect_view.py
Labels: 🔨 Refactor

#153 refactor issue #149: 프로젝트 관리, 마일스톤, 캘린더, 번업차트 코드 리팩토링
  app.py
  controllers/burnup_controller.py
  controllers/calendar_controller.py
  controllers/milestone_controller.py
  controllers/project_controller.py
  controllers/sprint_controller.py
  models/__init__.py
  static/milestone.css
  views/calendar_view.py
  views/manage_project_view.py
  views/milestone_view.py
  views/sprint_view.py
Labels: ✨ Feature, 🔨 Refactor

#161 refactor #157: 코드 리팩토링
  static/favicon.ico
  static/js/burnup.js
  static/js/manage_project.js
  templates/all_schedules_back.html
  templates/backlog.html
  templates/board.html
  templates/burnup.html
  templates/calendar.html
  templates/create_milestone_back.html
  templates/create_project_back.html
  templates/create_retrospect.html
  templates/guide.html
  templates/index.html
  templates/join_project.html
  templates/login.html
  templates/main.html
  templates/manage_project.html
  templates/milestone.html
  templates/productbacklog_back.html
  templates/profile.html
  templates/profile_back.html
  templates/project_created.html
  templates/project_main_back.html
  templates/retrospect.html
  templates/scrum.html
  templates/sprint.html
  templates/sprint_back.html
  templates/temp.html
  templates/update_milestone_back.html
  templates/userstory.html
  templates/view_retrospect.html
Labels: 🔨 Refactor

#163 test issue #155 : 스프린트테스트
  .coverage
  .github/workflows/flaskci.yml
  controllers/sprint_controller.py
  requirements.txt
  tests/test_sprint.py
  views/sprint_view.py
Labels: ✅ Test

#168 test issue #155 : 스프린트테스트
  .coverage
  controllers/scrum_controller.py
  templates/scrum.html
  tests/conftest.py
  tests/test_scrum.py
  tests/test_sprint.py
  views/scrum_view.py
Labels: ✅ Test

#175 feat issue #166: 프로덕트 백로그 및 스프린트 회고 테스트
  .coverage
  tests/test_backlog.py
  tests/test_retrospect.py
Labels: ✅ Test

#176 test issue #167 : 프로젝트 관리, 마일스톤, 번업차트 기능 테스트 케이스 작성
  .gitignore
  static/js/join_project.js
  templates/join_project.html
  tests/test_burnup.py
  tests/test_manage_project.py
  tests/test_milestone.py
  views/milestone_view.py
Labels: 🐞 BugFix, ✅ Test

#179 refactor issue #178: 불필요한 파일 삭제
  .coverage
  static/temp.css
  views/project_view.py
Labels: 🔨 Refactor
